body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
}

.logo {
    color: white;
}

.menu {
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
}

.hamburger {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

/* Note : .menu is class and a is the anchor tag used */
.menu a {
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* Creating now for desktop before was mobile first */

@media (min-width: 768px){

    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto; /* Reset width for desktop */
    }

    .hamburger {
        display: none; /* hide hamburger on desktop */

    }
}