*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f5f8ff;
    min-width: fit-content;
}

nav {
    position: sticky;
    top: 0px;
    background-color: white;
    height: 3.4rem;
    width: 100%;
    border-bottom: 1px solid #ececec;
    min-width: fit-content;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.4rem;
    padding: 0rem 1.5rem;
}

.nav_right {
    display: flex;
    padding: 0rem;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

#freetrial {
    margin-left: 40rem;
}

#signin {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navtext {
    font-family: 'Inter', sans-serif;
    margin-left: 1.5rem;
    font-weight: 600;
    font-size: 0.95em;
}

.fa-angle-down {
    margin-left: 0.200rem;
    padding-top: 0.137rem;
    font-size: 0.83rem;
    color: #707070;
}

.introStyle {
    height: 630px;
    width: 100%;
    align-content: center;
}

.centralText {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Archivo' , sans-serif;
    font-size: 5rem;
    margin: 0px;
    line-height: 0.85;
}

#blue_text {
    color: #0057ff;
}

.subText {
    text-align: center;
    font-family: 'Inter' , sans-serif;
    margin-top: 24px;
    margin-bottom: 30px;
}

.importantButtons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}