*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f5f8ff;
    min-width: fit-content;
}

nav {
    position: sticky;
    top: 0px;
    background-color: white;
    height: 3.4rem;
    width: 100%;
    border-bottom: 1px solid #ececec;
    min-width: fit-content;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.4rem;
    padding: 0rem 1.5rem;
}

.nav_right {
    display: flex;
    padding: 0rem;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

#freetrial {
    margin-left: 40rem;
}

#signin {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navtext {
    font-family: 'Inter', sans-serif;
    margin-left: 1.5rem;
    font-weight: 600;
    font-size: 0.95em;
}

.fa-angle-down {
    margin-left: 0.200rem;
    padding-top: 0.137rem;
    font-size: 0.83rem;
    color: #707070;
}

.introStyle {
    display: flex;
    height: 630px;
    width: 100%;
    align-content: center;
}

.centerText {
    margin-top: 8.5rem;
    flex: 0 0 55%;
}

.centralText {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Archivo' , sans-serif;
    font-size: 5rem;
    margin: 0px;
    line-height: 0.85;
}

#blue_text {
    color: #0057ff;
}

.subText {
    text-align: center;
    font-family: 'Inter' , sans-serif;
    margin-top: 24px;
    margin-bottom: 30px;
}

.importantButtons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.gridImage {
    margin-top: 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(16 , 1fr);
}

#left1 {
    grid-column: 1 / 5;
    grid-row: 2 / 6;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;;
}

#left2 {
    grid-column: 6 / 10;
    grid-row: 1 / 4;
    height: 100%;
    width: 100%;
}

#left3 {
    grid-row: 5 / 10;
    grid-column: 6 / 12;
    height: 100%;
    width: 100%;
}

#left4 {
    grid-column: 2 / 5;
    grid-row: 7 / 10;
    height: 100%;
    width: 100%;
}

#left5 {
    grid-column: 2 / 7;
    grid-row: 11 / 15;
    height: 100%;
    width: 100%;
}

#left6 {
    grid-column: 8 / 12;
    grid-row: 11 / 14;
    height: 100%;
    width: 100%;
}

#right1 {
    grid-column: 8 / 13;
    grid-row: 1 / 5;
    height: 100%;
    width: 100%;
}

#right2 {
    grid-column: 3 / 7;
    grid-row: 4 / 7;
    height: 100%;
    width: 100%;
}

#right3 {
    grid-column: 8 / 13;
    grid-row: 6 / 11;
    height: 100%;
    width: 100%;
}

#right4 {
    grid-column: 1 / 7;
    grid-row: 8 / 13;
    height: 100%;
    width: 100%;
}

#right5 {
    grid-column: 8 / 13;
    grid-row: 12 / 16;
    width: 100%;
    height: 100%;
}



