*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f5f8ff;
    overflow: scroll;
}

nav {
    position: fixed;
    top: 0px;
    background-color: white;
    height: 54px;
    width: 100%;
    border-bottom: 1px solid #ececec;
}