*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-width: fit-content;
}

nav {
    position: sticky;
    top: 0px;
    background-color: white;
    height: 3.4rem;
    width: 100%;
    border-bottom: 1px solid #ececec;
    min-width: fit-content;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.4rem;
    padding: 0rem 1.5rem;
}

.nav_right {
    display: flex;
    padding: 0rem;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

#freetrial {
    margin-left: 40rem;
}

#signin {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navtext {
    font-family: 'Inter', sans-serif;
    margin-left: 1.5rem;
    font-weight: 600;
    font-size: 0.95em;
}

.fa-angle-down {
    margin-left: 0.200rem;
    padding-top: 0.137rem;
    font-size: 0.83rem;
    color: #707070;
}

.introStyle {
    display: flex;
    height: 630px;
    width: 100%;
    min-width: fit-content;
    align-content: center;
    background: linear-gradient(to bottom, #f5f8ff 85% , #ffffff 100%);
}

.centerText {
    margin-top: 8.5rem;
    flex: 0 0 55%;
}

.centralText {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Archivo' , sans-serif;
    font-size: 5rem;
    margin: 0px;
    line-height: 0.85;
}

#blue_text {
    color: #0057ff;
}

.subText {
    text-align: center;
    font-family: 'Inter' , sans-serif;
    margin-top: 24px;
    margin-bottom: 30px;
}

.importantButtons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.gridImage {
    margin-top: 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(16 , 1fr);
}

#left1 {
    grid-column: 1 / 5;
    grid-row: 2 / 6;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;;
}

#left2 {
    grid-column: 6 / 10;
    grid-row: 1 / 4;
    height: 100%;
    width: 100%;
}

#left3 {
    grid-row: 5 / 10;
    grid-column: 6 / 12;
    height: 100%;
    width: 100%;
}

#left4 {
    grid-column: 2 / 5;
    grid-row: 7 / 10;
    height: 100%;
    width: 100%;
}

#left5 {
    grid-column: 2 / 7;
    grid-row: 11 / 15;
    height: 100%;
    width: 100%;
}

#left6 {
    grid-column: 8 / 12;
    grid-row: 11 / 14;
    height: 100%;
    width: 100%;
}

#right1 {
    grid-column: 8 / 13;
    grid-row: 1 / 5;
    height: 100%;
    width: 100%;
}

#right2 {
    grid-column: 3 / 7;
    grid-row: 4 / 7;
    height: 100%;
    width: 100%;
}

#right3 {
    grid-column: 8 / 13;
    grid-row: 6 / 11;
    height: 100%;
    width: 100%;
}

#right4 {
    grid-column: 1 / 7;
    grid-row: 8 / 13;
    height: 100%;
    width: 100%;
}

#right5 {
    grid-column: 8 / 13;
    grid-row: 12 / 16;
    width: 100%;
    height: 100%;
}

.filterBar {
    position: sticky;
    top: 3.4rem;
    display: flex;
    margin: 0px 1.5rem;
    align-items: center;
    background-color: white;
    padding-top: 5px;
}

.filter {
    flex: 1 ;
    text-align: center;
}


.searchBar {
    display: flex;
    align-items: center;
    align-content: center;

    flex: 0 1 70%;

    background-color: #f9f9f9;
    border: 1px solid #e8e8e8;
    border-radius: 35px;
    padding: 5px 8px 5px 20px;
    height: 52px;
    margin: 0px 1rem;
}

#searchBox {
    flex-grow: 1;
}

.pill_btn {
    border: none;
    padding: 0.7rem;
    background: none;
    color: #707070;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
}

.Active {
    border: 1px solid #e8e8e8;
    border-radius: 35px;
    background-color: white;
    color: black;
}

.Recmnd {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: none;
    border: 1px solid #e8e8e8;
    padding: 0.9rem;
    border-radius: 25px;
    margin-left: 1rem;
    margin-right: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #707070;
    cursor: pointer;
}

.categoryBar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem 0rem 0.5rem 1rem;
    gap: 0.6rem;
    width: 0;
    min-width: 100%;
    overflow-x: auto;
    position: sticky;
    top: 7.213rem;
    background-color: white;
}

.categoryBar::-webkit-scrollbar {
    display: none;
}

.categories {
    height: 2.8rem;
    flex-shrink: 0;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.categories:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 
   rgb(255, 237, 2);
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 1rem;
    margin: 15px 1rem;
    justify-items: center;
}

.contentInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.mainTitle{
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
}

.Appreciations {
    display: flex;
    gap: 0.2rem;
    margin-right: 0.2rem;
}

.Author {
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    color: #232323;
    margin-bottom: 0.5rem;
}

.fa-thumbs-up , .fa-eye {
    color: #707070;
    font-size: 0.9rem;
}


.mainImages {
    width: 100%;
    object-fit: cover;
    height: 269px;
    border-radius: 5px;
    margin-bottom: 0.3rem;
}




